.productgroupitem{
	min-height: 250px;
	margin-bottom: 15px;	
}

 .productgroupitem .title{
 	line-height:1.2em;
 	display:block;
 	height:45px;
 	overflow:hidden;
 }
 
 .productgroupitem .price{
	margin-bottom:7px;
 }
 